# Database
DB_USER=user
DB_PASSWORD=changeme

# Opcjonalnie -nadpisz ustawienia domyślne
# DATABASE_CONNECTION_STRING=postgresql+asyncpg://user:pass@db:5432/sequence_bench
# REDIS_URL=redis://redis:6379/0
 CORS_ORIGINS=["http://localhost:3000","http://10.0.0.2:3000"]
