# dependencies
node_modules/

# build outputs
dist/
build/
.next/
out/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# pnpm
pnpm-debug.log*

.tanstack
data
